<template name="layout">
  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        {{#if currentUser}}
        <a href="/review" class="nav-item is-tab">Review</a>
        <a href="/interview" class="nav-item is-tab">Interview</a>
        <a href="/history" class="nav-item is-tab">History</a>
        {{/if}}
      </div>
      <div class="nav-center">
        <a class="nav-item"><h2 class="subtitle"><strong>Scrutinizer 2.0</strong></h2></a>
      </div>
      <div class="nav-right">
        {{#if currentUser}}
        <a href="/manage" class="nav-item is-tab">Admin</a>
        <a href="/questions" class="nav-item is-tab">Questions</a>
        <a href="/" class="nav-item is-tab">Sign out {{name}}</a>
        {{/if}}
      </div>
    </div>
  </nav>
      {{#if currentUser}}
      {{> yield}}
      {{else}}
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col s12 m4 l2"></div>
            <div class="col s12 m4 l8">
              <div class="card white">
                <div class="card-content black-text">
                  {{> loginForm}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {{/if}}
</template>
