<template name="layout">
  <nav class="nav has-shadow">
    <div class="container">
      <div class="navbar-start">
        {{#if currentUser}}
        <a href="/review" class="nav-item is-tab">Review</a>
        <a href="/interview" class="nav-item is-tab">Interview</a>
        <a href="/history" class="nav-item is-tab">History</a>
        {{/if}}
      </div>
      <div class="nav-center">
        <a class="nav-item"><h2 class="subtitle"><strong>Scrutinizer 2.0</strong></h2></a>
      </div>
      <div class="navbar-end">
        {{#if currentUser}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-active">
            Manage
          </a>
          <div class="navbar-dropdown">
            <a href="/import" class="navbar-item">Import</a>
            <a href="/positions" class="navbar-item">Positions</a>
            <a href="/questions" class="navbar-item">Questions</a>
            <a href="/access" class="navbar-item">Access</a>
          </div>
        </div>
        <a id="signout" href="/" class="nav-item is-tab">Sign out {{name}}</a>
        {{/if}}
      </div>
    </div>
  </nav>
  {{> toaster}}
  {{#if currentUser}}
    {{> yield}}
  {{else}}
    {{> loginForm}}
  {{/if}}
</template>
