<template name="loginForm">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">
          {{#if creating}}
          Create an Account
          {{else}}
          Sign In
          {{/if}}
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <div class="card">
            <div class="card-content">
              {{#if creating}}
              <div class="field">
                <label class="label">Name</label>
                <p class="control">
                  <input id="name" class="input" type="text" placeholder="Name">
                </p>
              </div>
              {{/if}}
              <div class="field">
                <label class="label">Email</label>
                <p class="control has-icons-left">
                  <input id="email" class="input" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input id="password" class="input" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </p>
              </div>
              {{#if creating}}
              <div class="field">
                <label class="label">Password (again)</label>
                <p class="control has-icons-left">
                  <input id="password-again" class="input" type="password" placeholder="Password (again)">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </p>
              </div>
              {{/if}}
              <a class="submit button is-primary">
                {{#if creating}}
                Register
                {{else}}
                Sign In
                {{/if}}
              </a>
              <br /><br />
              <div class="signup-link">
                <p>
                  {{#if creating}}
                  If you already have an account
                  {{else}}
                  Don't have an account?
                  {{/if}}
                  <a href="#" id="signup">
                    {{#if creating}}
                    sign in
                    {{else}}
                    Register
                    {{/if}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
