<template name="review">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">
          Review applicants
        </h2>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-boxed">
          <ul>
            {{#each r in roles}}
            <li class="role-tab"><a class="role-select">{{r._id}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {{#if role}}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a class="show-accepted button">Hide accepted</a>
        </div>
        <div class="column">
          <a class="show-rejected button">Hide rejected</a>
        </div>
        <div class="column">
          <a class="collect-accepted button">Accepted emails</a>
        </div>
        <div class="column">
          <a class="collect-non button">Non-accepted emails</a>
        </div>
      </div>

      {{#if showEmails}}
      <div class="notification">
        <a class="exit-emails delete"></a>
        {{> emailsCopyable text=emails}}
      </div>
      {{/if}}

      <table class="table">
        <thead>
          <tr>
            <th data-field="scores">Scores</th>
            <th data-field="name">Name</th>
            <th data-field="email">Email</th>
            <th data-field="year">Year</th>
          </tr>
        </thead>
        <tbody>
          {{#each applicants}}
          {{> reviewRow}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
  {{else}}
  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        Choose a position to review using the tabs above.
      </h2>
    </div>
  </div>
</section>
  {{/if}}
</template>
