<template name="reviewRow">
  <tr class="table-row {{statusClass}} {{#if showMore}}in-review{{/if}}">
    <td>
    <b>{{formattedScores}}</b>
    {{#if checkNoShow}}
      <b style = "color: red">(No-Show)</b>
    {{/if}}
    </td>
    <td>{{name}}</td>
    <td>{{_id}}</td>
    <td>{{year}}</td>
  </tr>
  {{#if showMore}}
  <tr class="review-details">
    <td colspan="4">
      <div class="block">
        <a class="button is-success is-medium accept">Accept</a>
        <a class="button is-danger is-medium reject">Reject</a>
        <a class="button is-primary is-medium reset">Reset</a>
        <a class="button is-primary is-medium is-inverted skip">Skip</a>
      </div>
      <div class="detail columns is-multiline">
        {{#each notecards}}
          <div class="column is-half">
            <div class="box">
              <p><strong>Notes from: {{interviewer_name}} ({{interviewer_score}})</strong></p>
              <br>
              <p>{{{interviewer_notes}}}</p>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="detail columns is-multiline">
        {{#each answers}}
        <div class="column is-half">
          <div class="box">
            <p>
              <strong>{{question}}</strong>
            </p>
            <br>
            <p>{{{text}}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </td>
  </tr>
  {{/if}}
</template>
