.detail {
  color: #363636;
}
.table .accepted.in-review:hover, .table .rejected.in-review:hover, .table .in-review:hover {
  background-color: #00d1b2;
}
.accepted, .table .accepted:hover {
  background-color: #C5E1A5;
}
.rejected, .table .rejected:hover {
  background-color: #EF9A9A;
}
.in-review {
  background-image: linear-gradient(141deg, #009e6c 0%, #00d1b2 71%, #00e7eb 100%);
}
.table-row.in-review {
  background: #00d1b2;
}
