  .detail {
  color: #363636;
}
.table .accepted.in-review:hover, .table .rejected.in-review:hover, .table .in-review:hover {
  background-color: #00d1b2;
}
.accepted, .table .accepted:hover {
  background-color: #C5E1A5;
}
.rejected, .table .rejected:hover {
  background-color: #EF9A9A;
}
.review-details, .table .review-details:hover{
  background-color: #E0E0E0;
}
.table-row.in-review {
  background: #00d1b2;
}
