<template name="history">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          My past interviews
        </h1>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <h2>Click a row to edit your score / notes / answers for that interview</h2>
      </div>
    </div>
    <br />
  </section>
  <section class="section">
    <div class="container">
      <table class="table">
        <tbody>
          {{#each interviews}}
          <tr><td><a href="" name="{{name}}" role="{{role}}" class="interviews-row collection-item">({{score}}) <b>{{name}}</b> &nbsp;for&nbsp; <b>{{role}}</b></a></td></tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</template>
