<template name="guidelines">
  <section class="hero is-light">
    <div class="container">
      <div class="guidelines-card card-content">
        {{#if showing}}
        <a id="hide" class="button btn-guidelines">Hide guidelines</a>
        <div class="content">
          {{{html}}}
        </div>
        <a id="hide" class="button btn-guidelines">Hide guidelines</a>
        {{else}}
        <a id="show" class="button btn-guidelines">Show guidelines</a>
        {{/if}}
      </div>
    </div>
  </section>
</template>
