<template name="interview">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Interview an applicant
        </h1>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="field">
                <label class="label">For the position of: </label>
                <p class="control">
                  <span class="select">
                    <select class="role-select">
                      <option value="" selected="true" disabled="disabled">Choose a position</option>
                      {{#each r in roles}}
                      <option value="{{r._id}}">{{r._id}}</option>
                      {{/each}}
                    </select>
                  </span>
                </p>
              </div>
            </div>
            {{#if roleSelected}}
            <div class="level-item">
              <div class="field">
                <label class="label">By the name of:</label>
                <p class="control">
                  <input id="name" class="input is-primary" type="text" placeholder="Start typing...">
                </p>
              </div>
            </div>
            {{/if}}
          </div>
        </nav>
      </div>
    </div>
    <br />
    <div class="container">
      {{#each applicant in applicants}}
        <span class="tag applicant-item is-medium" email="{{applicant._id}}">{{applicant.name}}</span>
      {{/each}}
    </div>
  <br />
  </section>

  {{#unless choosingApplicant}}
    <a class="save-global button is-dark is-medium">Save all</a>
    {{> scorecard scorecardData}}
    {{> guidelines}}
    <section class="section">
      <div class="container">
        {{#each questions}}
          {{> qna }}
        {{/each}}
      </div>
    </section>
  {{/unless}}
</template>
